# Eclipse project
/Debug
.cproject
.project

# Qt-Creator project
*.pro
*.pro.*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
