# Eclipse project
/Debug
.cproject
.project

# Qt-Creator qmake-project
*.pro
*.pro.*

# Qt-Creator general C++ project
CubeGame.config
CubeGame.files
CubeGame.includes
CubeGame.creator*

# Compilation directories specified in Makefile
target/
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
